<p>user-profile works!</p>
<ul>
    <li>name is {{name}}</li>
    <li>age is {{age}}</li>
</ul>
<h1>my name is {{myvalue}}</h1>
<!-- earlier
<input [value]="myvalue" name="user" type="text" (input)="userInput($event)" >
 -->
<input name="user" type="text" [(ngModel)]="myvalue" />
<button [disabled]="canDisable">Send</button>
<div>
    @for(user of userData;track user.id){
        @if(user.salary>30000){

            <div class="containerUser">
                <div>name is {{user.name}}</div>
                <div>salary is {{user.salary}}</div>
            </div>
        }
    }
</div>
<hr/>
<div *ngFor="let user of userData">
            <div *ngIf="user.salary>30000;else elseBlock" class="containerUser">
                <div>name is {{user.name}}</div>
                <div>salary is {{user.salary}}</div>
            </div>
            <ng-template #elseBlock>
                <h4>no data</h4>
            </ng-template>
</div>